<!DOCTYPE html>
<!--
LuxTrust ORder Administration (LORA) v2
This is based on a commercial template: Frest HTML Admin Template (:Pixinvent, http://www.pixinvent.com/
-->
<html class="loading" lang="en" xmlns:th="http://www.thymeleaf.org" data-textdirection="ltr">

<!--/* headers */-->
<head th:replace="~{fragments/layout/head :: headerFragment}">
	<title>Tracker</title>
</head>

<body class="horizontal-layout horizontal-menu navbar-sticky 2-columns footer-static" data-open="hover" data-menu="horizontal-menu" data-col="2-columns">

	<!--/* Top bar (menu collapse, application title, languages, user profile) */-->
	<nav th:replace="~{fragments/layout/nav :: navigationMenuFragment}"></nav>

	<!--/* Main Menu (horizontal bar) */-->
	<div th:replace="~{fragments/layout/menu :: mainMenuFragment}"></div>

<!-- BEGIN: Content-->
<div class="app-content content">
	<div class="content-overlay"></div>

	<div class="content-wrapper">

		<!--/* Breadcrumbs */-->
		<div class="content-header row">
			<div class="content-header-left col-12 mb-2 mt-1">
				<div class="row breadcrumbs-top">
					<div class="col-12">
						<h5 class="content-header-title float-left pr-1 mb-0">1 Column</h5>
						<div class="breadcrumb-wrapper col-12">
							<ol class="breadcrumb p-0 mb-0">
								<li class="breadcrumb-item"><a href="sk-layout-2-columns.html"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item"><a href="#">Starter Kit</a>
								</li>
								<li class="breadcrumb-item active">1 Column
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/* /breadcrumbs */-->

		<div class="content-body">

			<h1>Welcome</h1>
			<h2 th:utext="${message}">..!..</h2>
			<a th:href="@{/personList}">Person List</a>


			<!-- Description -->
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Description</h4>
				</div>
				<div class="card-content">
					<div class="card-body">
						<div class="card-text">
							<p>1 Column layout is very useful for full width page requirements i.e: Contact us, Terms & Condition, Privacy policy etc..., It has back link, navbar with inner starter page options and footer, navigation menu will not be displayed on this layout.</p>
						</div>
					</div>
				</div>
			</div>
			<!--/ Description -->
			<!-- CSS Classes -->
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">CSS Classes</h4>
				</div>
				<div class="card-content">
					<div class="card-body">
						<div class="card-text">
							<p>This table contains all classes related to the 1 column layout. This is a custom layout for full width page requirements.</p>
							<p>All these options can be set via following classes:</p>
							<div class="table-responsive">
								<table class="table">
									<thead>
									<tr>
										<th>Classes</th>
										<th>Description</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<th scope="row"><code>.1-column</code></th>
										<td>You can create 1 column layout by adding <code>1-column</code> class in <code>&lt;body&gt;</code> tag.</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ CSS Classes -->
			<!-- HTML Markup -->
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">HTML Markup</h4>
				</div>
				<div class="card-content">
					<div class="card-body">
						<div class="card-text">
							<p>Please note that 1 column layout do not have Navigation section and it has back to Dashboard or Home page link in Navbar.</p>
							<p>Frest has a ready to use starter kit, you can use this layout directly by using the starter kit pages from the <code>frest-clean-bootstrap-admin-dashboard-template/starter-kit</code> folder.</p>
							<pre class="language-html">
        <code class="language-html">
            &lt;!DOCTYPE html&gt;
              &lt;html lang="en"&gt;
                &lt;head&gt;&lt;/head&gt;
                &lt;body class="vertical-layout vertical-menu-modern 1-column navbar-sticky footer-static" data-col="1-column" data-menu="vertical-menu-modern" &gt;

                  &lt;!-- Fixed-top--&gt;
                  &lt;nav class="header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-light navbar-shadow"&gt;
                  &lt;/nav&gt;
                  &lt;!-- End Fixed-top--&gt;
                  &lt;!-- Begin Content--&gt;
                  &lt;div class="app-content content"&gt;
                      &lt;div class="content-wrapper"&gt;
                      &lt;/div&gt;
                  &lt;/div&gt;
                  &lt;!-- End Content --&gt;
                  &lt;!-- Start Footer Light --&gt;
                  &lt;footer class="footer footer-static footer-light"&gt;
                  &lt;/footer&gt;
                  &lt;!-- End Footer light--&gt;

                &lt;/body&gt;
              &lt;/html&gt;
        </code>
        </pre>
						</div>
					</div>
				</div>
			</div>
			<!--/ HTML Markup -->

		</div>
	</div>
</div>
<!-- END: Content-->

	<!--/* Frest-admin UI component to change the layout colors and behaviour dynamically. */-->
	<div th:replace="~{fragments/frestadmin/theme_customizer :: themeCustomizerFragment}"></div>

	<!--/* Frest-admin UI component to go back to top of the page */-->
	<div th:replace="~{fragments/frestadmin/scroll_to_top :: scrollToTopFragment}"></div>

	<!--/* Footer (what is displayed to user) */-->
	<footer th:replace="~{fragments/layout/footer :: footerFragment}"></footer>

	<!--/* Footer scripts */-->
	<div th:replace="~{fragments/layout/footer_js :: javascriptFilesFragment}"></div>

</body>

</html>