.root {
    -fx-padding: 0 0 0 0;
}

/** Menu bar */
.menu-bar {
    -fx-background-color: #aeb5ba, linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}
.menu-bar .menu .label {
    -fx-text-fill: #2d3e4c;
}

/** Main page */
#mainpage {

}
#mainpage .background {
	-fx-background-image: url("../img/astrology_wallpaper.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 800 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
.background {
}
.container {
}


/** Results page. Each CSS class name matches a JavaFX ID to ease the maintenance. */
.homepageButton {

}
.quitButton {

}
