
/** ===================== COMMON ELEMENTS ===================== */
.signInfo {
    font-family: Raleway,sans-serif;
    color :#2eb6d1;
    font-weight: 700;
}
.h2 {
    font-family: Raleway,sans-serif;    
}
.signTrait {
    font-family: Raleway,sans-serif;
    font-weight: 700;    
}
