<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <property name="logdir" value="/var/log" />

    
	<!-- ########################### -->
	<!-- ##       APPENDERS       ## -->
	<!-- ########################### --> 
    <!-- CONSOLE: should not be used in production -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d [%5p] %30t # %30c{1} - %m%n</pattern>
        </encoder>
    </appender>
    
	<!-- File -->
	<appender name="JUNIT" class="ch.qos.logback.core.rolling.RollingFileAppender">		
		<file>${logdir}/daxiongmao/server-tests.log</file>
		
		<!-- Rolling policy # keep 3 files in memory -->
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${logdir}/daxiongmao/server-tests.%i.log</fileNamePattern>
			<maxIndex>3</maxIndex>
		</rollingPolicy>
		<!-- Max file size -->
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>		
		<encoder>
            <pattern>%d [%5p] %30t # %30c{1} - %m%n</pattern>
		</encoder>
	</appender>    
    
	<!-- additivity=false ensures data only goes to 1 log file -->
	
	<!-- ########################### -->
	<!-- ##     BUSINESS logs     ## -->
	<!-- ########################### -->

    <logger name="eu.daxiongmao.prv.server" level="DEBUG" additivity="false">
    	<appender-ref ref="STDOUT" />
    	<appender-ref ref="JUNIT" />
    </logger>	
    
	<!-- ########################### -->
	<!-- ##      Other logs       ## -->
	<!-- ########################### -->
    
    <!-- JavaEE -->
    <logger name="javax.activation" level="WARN" />
    
    <!-- Apache libs -->
    <logger name="org.apache.tomcat" level="WARN" />
    <logger name="org.apache.catalina" level="WARN" />
    <logger name="org.jboss.logging" level="WARN" />
    <logger name="org.apache.coyote" level="WARN" />
    <logger name="org.apache.commons" level="WARN"/>
    <logger name="org.apache.http" level="WARN"/>
    <logger name="httpclient" level="WARN" />
    
    <!-- Logging framework -->
    <logger name="ch.qos.logback" level="WARN"/>
    
    <!--  Spring framework -->    
    <logger name="org.reflections" level="ERROR" />
    <logger name="org.springframework" level="WARN"/>
	<logger name="cglib" level="WARN"/>	
	
	<!-- Documentation -->
	<logger name="springfox.documentation" level="INFO"/>
	
	<!-- Mapper (ORIKA) -->
	<logger name="ma.glasnost" level="DEBUG"/>

	<!-- Database -->
    <logger name="java.sql" level="WARN"/>
    
	<!-- Hibernate should not send WARN, see: -->
	<!-- https://plumbr.eu/blog/io/how-we-accidentally-doubled-our-jdbc-traffic-with-hibernate -->
	<!-- http://stackoverflow.com/questions/30926597/why-is-show-warnings-query-issued-here-jpa-hibernate-mysql -->
    <logger name="org.hibernate" level="ERROR"/>	
    <logger name="org.hibernate.SQL" level="ERROR"/>
    <logger name="org.hibernate.jpa.internal.util.LogHelper" level="ERROR"/>
    

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
    
	
</configuration>
