<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--/* JavaScript files */-->
<div th:fragment="javascriptFilesFragment">
    <!-- Frest-admin template -->
    <!--/*  Vendor JS */-->
    <script th:src="@{/app-assets/vendors/js/vendors.min.js}" src="../../static/app-assets/vendors/js/vendors.min.js"></script>
    <script th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js}" src="../../static/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js"></script>
    <script th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js}" src="../../static/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js"></script>
    <script th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js}" src="../../static/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js"></script>

    <!--/* Charts */-->
    <script th:src="@{/app-assets/vendors/js/charts/apexcharts.min.js}" src="../../static/app-assets/vendors/js/charts/apexcharts.min.js"></script>
    <!--/* Drag-and-drop */-->
    <script th:src="@{/app-assets/vendors/js/extensions/dragula.min.js}" src="../../static/app-assets/vendors/js/extensions/dragula.min.js"></script>

    <!--/* Page specific - Vendor JS */-->
    <script th:src="@{/app-assets/vendors/js/ui/jquery.sticky.js}" src="../../static/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script th:src="@{/app-assets/vendors/js/ui/prism.min.js}" src="../../static/app-assets/vendors/js/ui/prism.min.js"></script>

    <!--/* Theme JS */-->
    <script th:src="@{/app-assets/js/scripts/configs/horizontal-menu.js}" src="../../static/app-assets/js/scripts/configs/horizontal-menu.js"></script>
    <script th:src="@{/app-assets/js/core/app-menu.js}" src="../../static/app-assets/js/core/app-menu.js"></script>
    <script th:src="@{/app-assets/js/core/app.js}" src="../../static/app-assets/js/core/app.js"></script>
    <script th:src="@{/app-assets/js/scripts/components.js}" src="../../static/app-assets/js/scripts/components.js"></script>
    <script th:src="@{/app-assets/js/scripts/footer.js}" src="../../static/app-assets/js/scripts/footer.js"></script>
    <script th:src="@{/app-assets/js/scripts/customizer.js}" src="../../static/app-assets/js/scripts/customizer.js"></script>


    <!-- Application specifics -->
    <!--/* Custom JS */-->
    <script th:src="@{/assets/js/scripts.js}" src="../../static/assets/js/scripts.js"></script>

</div>
