<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--/* Main menu (horizontal bar) */-->
<div th:fragment="mainMenuFragment" class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow" role="navigation" data-menu="menu-wrapper">

    <div class="navbar-header d-xl-none d-block">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand" href="../../../html/ltr/horizontal-menu-template/index.html">
                <div class="brand-logo"></div>
                <h2 class="brand-text mb-0">Frest</h2>
            </a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="bx bx-x d-block d-xl-none font-medium-4 primary toggle-icon"></i></a></li>
        </ul>
    </div>

    <div class="shadow-bottom"></div>

    <!--/* Horizontal menu content */-->
    <div class="navbar-container main-menu-content" data-menu="menu-container">
        <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="filled">

            <!--/* Dashboard */-->
            <li class="nav-item" id="nav-dashboard" th:classappend="${#strings.equals('nav-dashboard', #session.getAttribute('selectedMenuItem')) ? 'active' : '' }">
                <a class="nav-link" th:href="@{/dashboard}" href="/dashboard">
                    <i class="menu-livicon" data-icon="desktop"></i>
                    <span th:text="#{application.menu.dashboard}">Dashboard</span>
                </a>
            </li>

            <!--/* Manage files */-->
            <li class="nav-item" th:classappend="${#strings.equals('nav-manage-files', #session.getAttribute('selectedMenuItem')) ? 'active' : '' }">
                <a class="nav-link" th:href="@{/manage-files}" href="/manage-files">
                    <i class="menu-livicon" data-icon="grid"></i>
                    <span th:text="#{application.menu.manage_files}">Manage files</span>
                </a>
            </li>

            <!--/* Request help */-->
            <li class="nav-item" th:classappend="${#strings.equals('nav-helpdesk', #session.getAttribute('selectedMenuItem')) ? 'active' : '' }">
                <a class="nav-link" th:href="@{/helpdesk}" href="/helpdesk">
                    <i class="menu-livicon" data-icon="help"></i><span th:text="#{application.menu.contact_helpdesk}">Contact helpdesk</span>
                </a>
            </li>
        </ul>
    </div>
</div>